@import "reboot.css";
@import "layout.css";


header {
    display: flex; 
    align-items: center;
}

.navbar {
    flex: 2;
}

.mobile-navbar {
    flex: 2;
    display: none;

    margin: 0 20px;
    color: #fff;
    font-size: 10px;
} 

header .navbar ul {
    display: flex;
}

header .navbar ul li {
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
}

header .options {
    flex: 1;
}

header .options ul {
    display: flex;
    align-items: center;
    margin-left: 64px;
}

header .options ul li {
    margin: 0 16px;
    color: #fff;
}

header .options .profile {
    margin: 0 !important;
    width: 30px;
    border-radius: 3px;
}

.dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown i {
    margin-left: 8px;
}


.fas {
    color: white;
}

.fa-search {
    font-size: 18px;
}

.fa-gift {
    font-size: 20px;
}

.fa-bell {
    font-size: 22px;
}

@media (max-width: 576px) {
    header .navbar {
        display: none;
    }

    .options {
       margin: 0;
    }

    .options ul li:nth-child(1),
    .options ul li:nth-child(2) {
        display: none;
    }

    header .options ul {
        margin-left: 0;
    }

    .options .dropdown .fa-angle-down {
        display: none;
    }

    #app > header {
        padding: 0 16px;
    }
    
    #app > header img {
        margin: 0;
    }

    .mobile-navbar {
        display: flex;
    }
}